<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>

<h1>Customer Page</h1>
<a class="btn btn-primary" href="/Customer/display" role="button">Display Customer</a><br><br>
<a class="btn btn-primary" href="/Customer/add/0" role="button">Add Customer</a><br><br>
<a class="btn btn-primary" href="/" role="button">Back</a><br><br>

</body>
</html>