<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TotalSales Of A Product</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
<table class="table table-dark table-striped">
    <thead>
    <tr>
        <th scope="col">Customer ID</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Product Names</th>
        <th scope="col">Total Purchase</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each = "payment: ${payments}">
        <td th:text="${payment.customer_id}"/>
        <td th:text="${payment.customerName}"/>
        <td th:text = "${payment.name}"/>
        <td th:text= "${payment.total_purchase}"/>

    </tr>
    </tbody>
</table>
</body>
<a href="/Customer/display">Back</a>
</html>